<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{basepath}}/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{basepath}}/style.css">

    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <button type="button" class="btn" id="toggleSpider">Start</button>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#historyModal">Show
                    history
                </button>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-8" id="visitedLinks">
                {% include 'widgets/visited-links.html' %}
            </div>
        </div>
    </div>
</main>


{% include 'dialogs/history.html' %}
{% include 'dialogs/url-detail.html' %}

    <script src="{{basepath}}/libs/jquery-3.3.1.min.js"></script>
    <script src="{{basepath}}/libs/popper.min.js"></script>
    <script src="{{basepath}}/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{basepath}}/js/spider/monitor.js"></script>
    <script src="{{basepath}}/js/spider.js"></script>
    <script src="{{basepath}}/script.js"></script>
</body>
</html>