body{
    background-color: #2B2B2B;
}
.modal-content{
    background-color: #2B2B2B;
}
.modal-title{
    color: #E7BE6A;
}
.btn-link{
    color:#ccc;
}
.btn-link:hover{
    color:#999;
}
.close{
    color:#ccc;
}
.close:hover{
    color:#999;
}
table.table thead>tr>th{
    color:#E7BE6A;
}
table.table tbody>tr>th{
    color:#CB7132;
}
table.table thead>tr>th,
table.table thead>tr>td,
table.table tbody>tr>th,
table.table tbody>tr>td{
    border-top-color:#595B5D;
    border-bottom-color:#595B5D;
}
table.table{
    border-color: #595B5D;
}
table td{
    color:#97B9B8;
}
#visitedLinks{
    max-height: 300px;
    overflow-y: auto;
    /*overflow-x: hidden;*/
}
#visitedLinks > table{
    width: 100%;
}
#visitedLinks > table > tbody > tr.visited-link td{
    transition: all .3s ease;
}
#visitedLinks > table >tbody > tr.visited-link > td:hover{
    color:#4f9fcf;
}
header{
    padding:10px 5px;
}
main{
    padding: 10px 5px;
}
button, .visited-link{
    cursor: pointer;
}