@import "variables";

$body-bg: $main-background;
$body-color: $blue-light;

$table-border-color: $gray-light;
$table-head-color: $orange-light;

$modal-content-bg: $main-background;
$modal-header-border-color: $gray-light;
// $modal-content-border-color: $gray-light;

$close-color: #CCC;
